{% extends 'base.html' %} {% block contenido %}

<script type="text/javascript">
    $("#datetime").datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        autoclose: true,
        todayBtn: true
    });
</script>


<!-- slide section -->
{% load static %}
<section class="" data-stellar-background-ratio="0.5" style="background-color: black">
    <div class="">
        <img src="{% static '/images/banner.jpg' %}" alt="" height="" width="100%">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-8 text-center">
                <div class="mb-5 element-animate">
                    <!-- <img src="images/banner_text_1.png" alt="Image placeholder" class="img-md-fluid"> -->
                    <h1 class="mb-4" style="color:white">AGENDA TU CITA</h1>
                    <p class="lead"></p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END section -->





<!-- Form section -->
<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="#" method="post">
                    {% csrf_token %} {{ formulario.as_p}}
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="name">Fecha</label>
                            <input type="text" class="form-control " id="datetime" name="{{form.fecha.name}}">
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="phone">hora</label>
                            <input type="text" class="form-control " name="{{form.hora.name}}" choices='horarios'>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" class="form-control ">
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="message">Escribe tu mensaje</label>
                            <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="submit" value="Envia tu mensaje" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</section>
<!-- END section -->

<section class="section-cover cta" data-stellar-background-ratio="0.5" style="background-image: url(/static/images/big_image_2.jpg);">
    <div class="container">
        <div class="row justify-content-center align-items-center intro">
            <div class="col-md-8 text-center element-animate">
                <h2 class="mb-4"><span>OFERTA ESPECIAL MARTES Y MIERCOLES</span> 25% en nuestros servicios de cortes basicos</h2>
                <p><a href="/agenda/" class="btn btn-black">Agenda tu cita</a></p>
            </div>
        </div>
    </div>
</section>
<!-- END section -->



{% endblock contenido %}