<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block estilo %}

    <link rel="stylesheet" href="/static/css/bootstrap.min.css"> {% endblock estilo %}


</head>

<body>




    <nav>
        <ul>
            <li><a href="/servicio"> Servicios </a>

            </li>
        </ul>
    </nav>

    <nav>
        <ul>
            <li><a href="/contacto"> contacto </a>

            </li>
        </ul>
    </nav>

    <nav>
        <ul>
            <li><a href="/inicio_sesion"> Inicia sesion </a>

            </li>
        </ul>
    </nav>

    <nav>
        <ul>
            <li><a href="/listar_barbero"> listar_barbero </a>

            </li>
        </ul>
    </nav>

    <nav>
        <ul>
            <li><a href="/agregar_barbero"> agregar_barbero </a>

            </li>
        </ul>
    </nav>

    <nav>
        <ul>
            <li><a href="/listar_servicio"> listar_servicios </a>

            </li>
        </ul>
    </nav>

    <nav>
        <ul>
            <li><a href="/agregar_servicio"> agregar_servcio </a>

            </li>
        </ul>
    </nav>


    <div class="container">



        {% block contenido %} {% endblock %}

    </div>


</body>

</html>