<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
</head>

<body>

    <h1>INICIO</h1>
    <nav>
        <ul>
            <li><a href="/equipo"> Nuestro Equipo </a>

            </li>
        </ul>
    </nav>

    <nav>
        <ul>
            <li><a href="/servicio"> Servicios </a>

            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="/productos"> Productos </a>

            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="/contacto"> contacto </a>

            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="/registro"> Registro </a>

            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="/inicio_sesion"> Inicia sesion </a>

            </li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="/solicitar_cita"> solicitar_cita </a>

            </li>
        </ul>
    </nav>







</body>

</html>