{% extends 'base.html' %} {% block contenido %}

<!-- slide section -->
{% load static %}
<section class="" data-stellar-background-ratio="0.5" style="background-color: black">
    <div class="">
        <img src="{% static '/images/banner.jpg' %}" alt="" height="" width="100%">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-8 text-center">
                <div class="mb-5 element-animate">
                    <!-- <img src="images/banner_text_1.png" alt="Image placeholder" class="img-md-fluid"> -->
                    <h1 class="mb-5" style="color:white">EQUIPO</h1>
                    <p class="lead"></p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END section -->



<section class="site-section pb-5">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-8 text-center">
                <h1>Nuestro Barberos</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quia tempore magni dolore dolorum reprehenderit illum consectetur minima</p>

            </div>
        </div>
        <div class="row element-animate">
            {%for p in lista%}

            <div class="col-md-6 video-wrap mb-5">
                <img src="/media/{{p.foto}}" alt="Image placeholder" class="img-fluid">
                <a href="https://vimeo.com/397292106" class="popup-vimeo btn-video"><span class="fa fa-play"></span></a>


            </div>
            <div class=" col-md-6 pl-md-5 ">
                <h3>{{p.nombre}}</h3>
                <p class="lead ">BARBERO PROFESIONAL</p>
                <p>{{p.descripcion}}</p>


                {% if request.user.is_superuser %}
                <p>
                    <center><a href="/agregar_barbero/ " class="btn btn-black ">Agregar Barbero</a></center>

                    <br>
                    <center><a href="/crear_producto/ " class="btn btn-black "> Crear Producto</a></center>

                    <br>


                    <!--<a href="{% url 'eliminar_barbero' id_br=p.id %}">ELIMINAR</a>-->
                </p>
                {% endif %}

            </div>
            {% endfor %}
        </div>
    </div>
</section>






{% endblock contenido %}