{% extends 'base.html' %} {% block contenido %}

<!-- slide section -->
{% load static %}
<section class="" data-stellar-background-ratio="0.5" style="background-color: black">
    <div class="">
        <img src="{% static '/images/banner.jpg' %}" alt="" height="" width="100%">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-8 text-center">
                <div class="mb-5 element-animate">
                    <!-- <img src="images/banner_text_1.png" alt="Image placeholder" class="img-md-fluid"> -->
                    <h1 class="mb-4" style="color:white">SERVICIOS</h1>
                    <p class="lead"></p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END section -->


{% for object in servicios %}

<!-- Servicio 1 section -->
<section class="site-section pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 video-wrap mb-5">
                <img src="/media/{{ object.foto }}" alt="Corte Clasico" class="img-fluid">


            </div>
            <div class=" col-md-6 pl-md-5 ">
                <h3>{{ object.nombre }} </h3>
                <p class="lead ">{{ object.tiempo }}
                </p>

                <p>{{ object.descripcion }}</p>
                <h3>$ {{ object.precio }}
                </h3>
                <hr>
                <center><a href="/agenda/ " class="btn btn-black ">Agenda tu cita</a></center>
            </div>
        </div>
    </div>
</section>
{% endfor %}
<!-- END section -->

{% endblock contenido %}